<mat-form-field class="form-field">
  <mat-label for="method">Method: </mat-label>
  <mat-select required [formControl]="methodInputControl">
    <mat-option value="POST">POST</mat-option>
    <mat-option value="GET">GET</mat-option>
    <mat-option value="PUT">PUT</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="form-field">
  <mat-label class="label" for="endpoint">Endpoint: </mat-label>
  <input 
  class="endpointInput" 
  required 
  matInput 
  type="text" 
  [formControl]="endpointInputControl" 
  [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" class="autocomplete">
    <mat-option  class="option" *ngFor="let endpoint of filteredEndpoints | async" [value]="endpoint">
      {{endpoint}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<button 
mat-raised-button color="primary" 
(click)="showStatistics()"
[disabled]="endpointInputControl.invalid || methodInputControl.invalid">Show</button>
<div class="chart">
  <canvas baseChart 
  [datasets]="barChartData"
  [labels]="barChartLabels"
  [options]="barChartOptions"
  [legend]="false"
  [colors]="barChartColors"
  chartType="bar"
  (chartClick)="clickChart($event)">
  </canvas>
</div>