<form [formGroup]="filterForm" (ngSubmit)="onSearch()">
  <div>
    <mat-form-field>
      <input matInput formControlName="triggered_by">
      <mat-placeholder class="placeholder">Triggered_by</mat-placeholder>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="commit_hash">
      <mat-placeholder class="placeholder">Commit hash</mat-placeholder>
    </mat-form-field>
    <mat-form-field class="formField">
      <mat-label class="selectLabel">Results by status</mat-label>
      <mat-select formControlName="status">
        <mat-option value=''>All</mat-option>
        <mat-option value='SUCCESS'>Success</mat-option>
        <mat-option value='ERROR'>Error</mat-option>
        <mat-option value='FAILED'>Failed</mat-option>
        <mat-option value='UNKNOWN'>Unknown</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label class="placeholder">Starting date</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="started_after">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label class="placeholder">Ending date</mat-label>
      <input matInput [matDatepicker]="picker2" formControlName="started_before">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button type="submit">Search</button>
    <button mat-raised-button color="warn" type="button" (click)="onReset()">Reset</button>
    <button mat-raised-button color="warn" type="button" (click)="onWeekly()">Weekly Failures</button>
  </div>
</form>
<mat-form-field>
  <mat-label class="placeholder">Custom Filter</mat-label>
  <mat-select 
  [formControl]="customFilterControl" 
  (selectionChange)="onSelectCustomFilter($event.value)">
    <mat-option 
    *ngFor="let filter of customFilters2" 
    [value]="filter.name" >
      {{filter.name}}
    </mat-option>
  </mat-select>
</mat-form-field>