::ng-deep .mat-dialog-container {
  background: #2d4152;
  text-align: center;
}

::ng-deep .mat-form-field-empty.mat-form-field-label,
.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  color: white;
}

::ng-deep .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  color: white;
}

::ng-deep .mat-form-field-infix {
  color: white;
}

::ng-deep .mat-dialog-actions {
  justify-content: center;
}

::ng-deep .mat-select-value-text {
  color: white !important;
}

::ng-deep .mat-select-arrow {
  color:white;
}

.emailTaken {
  color: red;
  font-size: 10pt;
}