<div>
<button mat-raised-button (click)="toggleAddUserModal()" >Add User</button>
<mat-accordion>
  <mat-expansion-panel *ngFor="let user of users; let i=index"  class="header">
    <mat-expansion-panel-header>
      <mat-panel-title class="title">
        {{user.git_user}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="user-data">
    <p>Email: {{user.email}}</p>
    <p>Git user: {{user.git_user}}</p>
    <p>Role: {{user.role}}</p>
    <p>Notifications: {{user.notification | notifications}}</p>
    </div>
    <mat-action-row>
      <button mat-raised-button color="primary" (click)="toggleUpdateModal(user)">Update</button>
      <button mat-raised-button color="warn" (click)="toggleDeleteModal(user)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel><br>
</mat-accordion>
<button [routerLink]="['/index']" routerLinkActive="router-link-active" mat-raised-button>Back</button>
</div>