header {
  padding: 3em 0 3em 0;
}

.svg {
  width: 75%;
}

.login-form {
  height: 500px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto 0 auto;
  text-align: center;
}

.login-form-full-width {
  width: 90%;
}

.login-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
}

.login-button {
  display: block;
  margin: 0 auto 0 auto;
  padding: 0.5em 0 0.5em 0;
  width: 90%;
  font-size: 1.3em;
}

.login-warning {
  display: block;
  text-align: left;
  margin-left: 5%;
  color: red;
  font-weight: bold;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-text-fill-color:#aaaaaa;
  transition: background-color 5000s ease-in-out 0s;
}

/* mat-icon-stepper selected color change */
::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: red !important;
}

/* input outline color */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #aaaaaa !important;
}

/* mat-input focused color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #aaaaaa !important;
}

/* mat-input error outline color */
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: #aaaaaa !important;
  opacity: 0.8 !important;
}

/* mat-input carent color */
::ng-deep .mat-input-element {
  caret-color: #aaaaaa !important;
}

/* mat-input error carent color */
::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
  caret-color: #aaaaaa !important;
}

/* mat-label normal state style */
::ng-deep .mat-form-field-label {
  color: #aaaaaa !important;
}

/* mat-label focused style */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #aaaaaa !important;
}

/* mat-label error style */
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #aaaaaa !important;
}

/* checkbox border */
::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: #aaaaaa;
}

a:link, a:visited, a:active {
  color: #aaaaaa;
  text-decoration: none;
}

a:hover {
  color: #aaaaaa;
  text-decoration: underline;
}
