<div class="login-form">
  <header>
    <span><img
      src="assets/logo.svg"
      alt="FluidPay Logo"/>
    </span>
  </header>
  <form [formGroup]="loginForm">
    <mat-form-field class="login-form-full-width" appearance="outline">
      <input
        matInput
        type="email"
        formControlName="email"
        id="email"
        name="email"
        placeholder="email address"
      />
    </mat-form-field>
    <span class="login-warning" *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">Email is required.</span>
    <br/>
    <mat-form-field class="login-form-full-width" appearance="outline">
      <input
        matInput
        type="password"
        formControlName="password"
        id="password"
        name="password"
        placeholder="password"
      />
    </mat-form-field>
    <p>a12345678</p>
    <span class="login-warning" *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">Password is required.</span>
    <br/>
    <div class="login-others">
      <mat-checkbox color="primary">Remember me</mat-checkbox>
      <br/>
      <a routerLink="#">Forgot your password?</a>
    </div>
    <br/>
    <button class="login-button" mat-raised-button color="primary" (click)="login()" [disabled]="loginForm.invalid" >Sign in</button>
  </form>
</div>

