<div class="login-form">
  <header>
    <span><img class="svg" src="assets/logo.svg" alt="FluidPay Logo" />
    </span>
  </header>
  <form [formGroup]="loginForm">
    <mat-form-field class="login-form-full-width" appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput type="email" formControlName="email" id="email" name="email" />
    </mat-form-field>
    <span class="login-warning" *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">Email is
      required.</span>
    <br />
    <mat-form-field class="login-form-full-width" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" id="password" name="password" />
    </mat-form-field>
    <span class="login-warning" *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">Password
      is required.</span>
    <br />
    <div class="login-options">
      <div>
        <mat-checkbox color="primary" name="remember" id="remember" (change)="rememberMe()">Remember me</mat-checkbox>
        <br />
        <a routerLink="#">Forgot your password?</a>
      </div>
      <div>
        <a routerLink="#">
          <img src="assets/btn_google_signin_dark_normal_web.png" alt="Sign in with Google" />
        </a>
      </div>
    </div>
    <br />
    <button class="login-button" mat-raised-button color="primary" (click)="login()" [disabled]="loginForm.invalid">Sign
      in</button>
  </form>
</div>