<div class="top-margin">
  <p class="branch-name">{{test.branch_name}}</p>
  <div>
    <mat-accordion>
      <mat-expansion-panel class="header">
        <mat-expansion-panel-header>
          <mat-panel-title class="title">
            <p>Details</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="test-data">
          <table>
            <tr>
              <td>Status:</td>
              <td [appTestStatus]="test.status" class="testResultLogs">{{test.status}}</td>
            </tr>
            <tr>
              <td>Commit hash: </td>
              <td class="testResultLogs">{{test.commit_hash}}</td>
            </tr>
            <tr>
              <td>Triggered:</td>
              <td class="testResultLogs">{{test.triggered_by}}</td>
            </tr>
            <tr>
              <td>Start: </td>
              <td class="testResultLogs">{{test.start_timestamp/1000000 | date:'MM-dd-yyyy h:m:s'}}</td>
            </tr>
            <tr>
              <td>End:</td>
              <td class="testResultLogs" *ngIf="test.end_timestamp !== null">
                {{test.end_timestamp/1000000 | date:'MM-dd-yyyy h:m:s'}}</td>
              <td class="testResultLogs" *ngIf="test.end_timestamp === null">Unknown</td>
            </tr>
            <tr *ngIf="test.status !== 'error'">
              <td>Short: </td>
              <td class="testResultLogs">{{test.short_description}}</td>
            </tr>
            <tr *ngIf="test.status === 'error'">
              <td>Error message: </td>
              <td class="testResultLogs">{{test.error_message}}</td>
            </tr>
          </table>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel class="header">
        <mat-expansion-panel-header>
          <mat-panel-title class="title">
            <p>Result</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div [innerHTML]="htmlString"></div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel class="header">
        <mat-expansion-panel-header>
          <mat-panel-title class="title">
            <p>Logs</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="test-data">
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel class="header">
        <mat-expansion-panel-header>
          <mat-panel-title class="title">
            <p>pprof</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="test-data">
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <button [routerLink]="['/index']" routerLinkActive="router-link-active" mat-raised-button>Back</button>
  </div>
</div>
