/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #2d4152; color: #aaaaaa; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 1.17em; }
div.top-margin { margin-top: 95px; z-index: 1; }
