/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #243441; color: #aaaaaa; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 1.17em; }
div.top-margin { padding-top: 69px; z-index: 1; }
button.addbutton, button.backbutton { margin-left: 20px; }
