.card {
  margin: 0 auto 0 auto;
  text-align: right;
  width: 500px;
  top: 50px;
  background-color: #243441;
  box-shadow: 0pt 0pt 5pt 0pt rgb(92, 91, 91), 
  0pt 0pt 5pt 0pt rgb(124, 123, 123), 
  0pt 0pt 5pt 0pt rgb(146, 146, 146);
}

.mat-card-avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  flex-shrink: 0;
  align-self: flex-end;
  position: absolute;
  top: 10px;
  right: 10px;
}

.header {
  height: 110px;
  width: 110px;
  margin-bottom: 50px;
}

.title {
  font-size: 1.5em;
  color: white;
}

.subtitle {
  font-size: 1.5em;
  color: white;
}

.content {
  text-align: left;
  color: white;
}

.data {
  font-size: 1.17em;
}

.fieldname {
  font-weight: bold;
}

::ng-deep .mat-select-value-text {
  color: white !important;
}

::ng-deep .mat-form-field-label {
  color: white;
}

::ng-deep .mat-select-arrow-wrapper {
  color: white;
}

.backBtn {
  margin-top: 6em;
}