<div class="top-padding">
  <button mat-raised-button (click)="toggleAddApiKey()" class="addbutton">Add ApiKey</button><br>
  <mat-accordion>
    <div class="grid">
        <mat-card *ngFor="let apikey of apikeys, let i=index" class="header">
          <div class="apiKey-data">
            <p>Key: {{apikey.key}}</p>
            <p>Expires at: {{apikey.expires_at | date : 'medium'}}</p>
            <p>Created at: {{apikey.created_at | date : 'medium'}}</p>
          </div>
          <mat-action-row>
          <button mat-raised-button (click)="extendExpirationDay(apikey)" color="primary" [disabled]="disableExtend(i)">Extend</button>
          <button mat-raised-button (click)="toggleDeleteModal(apikey)" color="warn">Delete</button>
          </mat-action-row>
        </mat-card><br>
    </div>
  </mat-accordion>
  <button appBackButton>Back</button>
</div>