::ng-deep .mat-dialog-container {
  background: #2d4152;
  text-align: center;
}

::ng-deep .mat-form-field-empty.mat-form-field-label,
.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  color: white;
}

::ng-deep .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  color: white;
}

::ng-deep .mat-form-field-infix {
  color: white;
  width: 400px;
}

::ng-deep .mat-dialog-actions {
  justify-content: center;
}

::ng-deep .mat-select-value-text {
  color: white !important;
}

::ng-deep .mat-form-field-wrapper {
 width: 230px;
}

::ng-deep .mat-select-arrow {
  color:white;
}

::ng-deep .mat-select-panel {
  background-color: #243441;
  color:white !important;
}

::ng-deep .mat-option-text {
  color: whitesmoke;
  text-align: left;
}

::ng-deep .mat-dialog-container {
  background-color: #2d4152;
  box-shadow: 0pt 0pt 5pt 0pt rgb(90, 90, 90), 
  0pt 0pt 5pt 0pt rgb(121, 121, 121), 
  0pt 0pt 5pt 0pt rgb(255, 251, 251);
}