<mat-card class="parent">
<form [formGroup]="updateForm" class="form">
  <div>
    <mat-form-field>
    <mat-label for="id">Id</mat-label><br>
    <input matInput type="text" name="id" formControlName="id">
  </mat-form-field>
  </div>
  <div>
    <mat-form-field>
    <mat-label for="password">Password</mat-label><br>
    <input matInput type="password" name="password" formControlName="password">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
    <mat-label for="email">Email</mat-label><br>
    <input matInput type="email" name="email" formControlName="email">
  </mat-form-field>
  </div>
  <div>
    <mat-form-field>
    <mat-label for="git_user">Git user</mat-label><br>
    <input matInput type="text" name="git_user" formControlName="git_user">
  </mat-form-field>
  </div>
  <div>
    <mat-form-field>
    <mat-label for="role">Role</mat-label><br>
    <mat-select name="role" formControlName="role">
      <mat-option value="user">User</mat-option>
      <mat-option value="admin">Admin</mat-option>
    </mat-select>
  </mat-form-field>
  </div>
  <div>
    <mat-form-field>
    <mat-label for="notification">Notification</mat-label><br>
    <mat-select name="notification" formControlName="notification">
      <mat-option [value]="true">ON</mat-option>
      <mat-option [value]="false">OFF</mat-option>
    </mat-select>
    </mat-form-field>
  </div><br><br>
  <button mat-raised-button [routerLink]="['/users']" routerLinkActive="router-link-active">Back</button>
  <button mat-raised-button color="primary" (click)=onUpdate() [disabled]="updateForm.invalid" [routerLink]="['/users']" routerLinkActive="router-link-active">Update</button>
</form>
</mat-card>